extends ../layout.pug
//- views/client/form.pug
block content
  .d-flex.justify-content-center
    form.bg-dark.text-white.p-4.rounded.shadow(action=item && item.id ? `/clients/${item.id}?_method=PUT` : "/clients", method="POST", style="width:100%; max-width:1200px; max-height:100vh; overflow-y:auto;")
      .d-flex.justify-content-between.align-items-center.mb-3
        h1.mb-0 #{item && item.id ? 'Editar Cliente' : 'Crear Nuevo Cliente'}
        a.btn.btn-gray(href="/clients") Volver a la lista

      // Contenedor de 2 columnas
      .row.g-3
        // Columna izquierda
        .col-md-6
          .mb-3
            label.form-label(for="name") Nombre
            input#name.form-control(type="text", name="name", value=item.name || "", required)
          .mb-3
            label.form-label(for="address") Dirección
            input#address.form-control(type="text", name="address", value=item.address || "")
          .mb-3
            label.form-label(for="email") Email
            input#email.form-control(type="email", name="email", 
            value=item.email || "", required)

        // Columna derecha
        .col-md-6
          .mb-3
            label.form-label(for="contact_name") Contacto
            input#name.form-control(type="text", name="contact_name", value=item.contact_name || "", required)
          .mb-3
            label.form-label(for="phone") Teléfono
            input#phone.form-control(type="text", name="phone", value=item.phone || "")
          .mb-3
            label.form-label(for="is_active") Estado
            select#is_active.form-select(name="is_active", required)
              option(value="true" selected=(item.is_active === true)) Activo
              option(value="false" selected=(item.is_active === false)) Inactivo

      button.btn.btn-primary.mt-3(type="submit") #{item && item.id ? 'Actualizar Cliente' : 'Crear Cliente'}
