extends ../layout.pug
//- views/team_role/show.pug
block content
  .d-flex.justify-content-between.align-items-center.mb-4
    h1.mb-4 Rol: #{ item.name }
    a.btn.btn-gray(href="/team-roles", tabindex="1") Volver
 

  table.table.table-dark
    tbody
      tr
        th ID
        td= item.id
      tr
        th Código
        td= item.code
      tr
        th Título del Rol
        td= item.name
      tr
        th Descripción
        td= item.description
      tr
        th Fecha de Creación
        td= item.created_at
      tr
        th Fecha de Modificación
        td= item.updated_at

  .mt-3
    a.btn.btn-gray.me-2(href="/team-roles", tabindex="2") Volver a la lista
    if hasPermission('edit_team_roles')
      a.btn.btn-primary.me-2(href=`/team-roles/${item.id}/edit`, tabindex="3") Editar
    //- form(action=`/api/users/${item.id}?_method=DELETE`, method="POST", style="display:inline;")
    //-   input(type="hidden", name="_method", value="DELETE")
    //-   button.btn.btn-danger-soft(type="submit") Eliminar
