extends ../layout.pug
//- views/expenses/index.pug
block content
  .d-flex.justify-content-between.align-items-center.mb-4
    h1.mb-0 Lista de Gastos
    a.btn.btn-primary(href="/expenses/new") Nuevo Gasto
    
  //- Incluir barra de búsqueda, modal y JS común
  include ../partials/common-table-scripts.pug

  table.table.table-hover.table-index
    thead
      tr
        th №
        th Código
        th Proyecto
        th Categoría
        th Monto
        th.text-end.pe-5 Acciones
    tbody
      each item, index in items
        tr(data-id=item.id, data-code=`${item.code}`, data-textmodal1=`Título: ${item.category_id.name}`)
          td= index + 1
          td= item.code
          td= item.project_id.name
          td= item.category_id.name
          td $#{item.amount.toFixed(2)}
          td.text-end
            a.btn.btn-gray.btn-sm.me-2(href=`/expenses/${item.id}`) Ver
            if hasPermission('edit_expenses')
              a.btn.btn-gray.btn-sm.me-2(href=`/expenses/${item.id}/edit`) Editar
            if hasPermission('delete_expenses')
              form(action=`/api/expenses/${item.id}?_method=DELETE`, method="POST", style="display:inline;")
                input(type="hidden", name="_method", value="DELETE")
                button.btn.btn-danger-soft.btn-sm.delete-btn(data-id=item.id) Eliminar