extends ../layout.pug
//- views/expenses/show.pug
block content
  .d-flex.justify-content-between.align-items-center.mb-4
    h1.mb-4 #{item.code} - Detalles del Gasto
    a.btn.btn-gray(href="/expenses", tabindex="1") Volver
 

  table.table.table-dark
    tbody
      tr
        th ID
        td= item.id
      tr
        th Código
        td= item.code
      tr
        th Proyecto
        td= item.project_id.name
      tr
        th Usuario
        td= item.user_id.full_name
      tr
        th Descripción
        td= item.description
      tr 
        th Monto
        td $#{item.amount.toFixed(2)}
      tr 
        th Moneda 
        td= currency_labels[item.currency] 
      tr
        th Fecha
        td= item.date 
      tr 
        th Categoría
        td= item.category_id.name
      tr 
        th Método de Pago
        td= payment_method_labels[item.payment_method]
      tr
        th Estado
        td= statusLabels[item.status]
      tr 
        th Nota 
        td= item.notes || 'N/A'
      tr
        th Fecha de Creación
        td= item.created_at
      tr
        th Fecha de Modificación
        td= item.updated_at
      

  .mt-3
    a.btn.btn-gray.me-2(href="/expenses", tabindex="2") Volver a la lista
    a.btn.btn-primary.me-2(href=`/expenses/${item.id}/edit`, tabindex="3") Editar
    //- form(action=`/api/users/${item.id}?_method=DELETE`, method="POST", style="display:inline;")
    //-   input(type="hidden", name="_method", value="DELETE")
    //-   button.btn.btn-danger-soft(type="submit") Eliminar
