extends ../layout.pug
//- views/receipts/index.pug
block content
  .d-flex.justify-content-between.align-items-center.mb-4
    h1.mb-0 Lista de Cobros
    a.btn.btn-primary(href="/receipts/new") Nuevo Cobro
    
  //- Incluir barra de búsqueda, modal y JS común
  include ../partials/common-table-scripts.pug

  table.table.table-hover.table-dark.table-index
    thead
      tr
        th №
        th Código
        th Factura №
        th Total Factura
        th Código de transacción
        th Monto pagado
        th.text-end.pe-5 Acciones
    tbody
      each item, index in items
        tr(data-id=item.id, data-code=`${item.code}`, data-textmodal1=`Título: ${item.transaction_id}`)
          td= index + 1
          td= item.code
          td= item.invoice_number
          td $#{item.amount_total.toFixed(2)}
          td= item.transaction_id
          td $#{item.amount.toFixed(2)}
          td.text-end
            a.btn.btn-gray.btn-sm.me-2(href=`/receipts/${item.id}`) Ver
            a.btn.btn-gray.btn-sm.me-2(href=`/receipts/${item.id}/edit`) Editar
            form(action=`/api/receipts/${item.id}?_method=DELETE`, method="POST", style="display:inline;")
              input(type="hidden", name="_method", value="DELETE")
              button.btn.btn-danger-soft.btn-sm.delete-btn(data-id=item.id) Eliminar