extends ../layout.pug
//- views/estimates/index.pug
block content
  .d-flex.justify-content-between.align-items-center.mb-4
    h1.mb-0 Lista de Facturas
    a.btn.btn-primary(href="/invoices/new") Nueva Factura
    
  //- Incluir barra de búsqueda, modal y JS común
  include ../partials/common-table-scripts.pug

  table.table.table-hover.table-dark.table-index
    thead
      tr
        th №
        th Código
        th № de Factura
        th Cliente
        th Proyecto 
        th Monto Total
        th Estado
        th.text-end.pe-5 Acciones
    tbody
      each item, index in items
        tr(data-id=item.id, data-code=`${item.code}`, data-textmodal1=`Factura №: ${item.invoice_number}`,  data-textmodal2=`Cliente: ${item.client_full_name}`)
          td= index + 1
          td= item.code
          td= item.invoice_number || 'N/A'
          td= item.client_full_name || 'N/A'
          td= item.project_name || 'N/A'
          td $#{item.total_amount.toFixed(2)}
          td= statusLabels[item.status] || 'N/A'
          td.text-end
            a.btn.btn-gray.btn-sm.me-2(href=`/invoices/${item.id}`) Ver
            a.btn.btn-gray.btn-sm.me-2(href=`/invoices/${item.id}/edit`) Editar
            form(action=`/api/invoices/${item.id}?_method=DELETE`, method="POST", style="display:inline;")
              input(type="hidden", name="_method", value="DELETE")
              button.btn.btn-danger-soft.btn-sm.delete-btn(data-id=item.id) Eliminar