extends ../layout.pug
//- views/invoice/show.pug
block content
  .d-flex.justify-content-between.align-items-center.mb-4
    h1.mb-4 Factura Código: #{item.code}
    div
     a.btn.me-2(
              class=item.status === 'draft' ? 'btn-success' : 'btn-success',
              href=item.status === 'draft' 
                ? `/invoices/${item.id}/preview`
                : `/invoices/${item.id}/preview`
            )= item.status === 'draft' ? 'Generar Factura' : 'Imprimir'
      a.btn.btn-gray(href="/invoices", tabindex="1") Volver
 
  table.table.table-dark
    tbody
      tr
        th ID
        td= item.id
      tr
        th Código
        td= item.code
      tr 
        th Tipo de Factura
        td= item.invoice_type || 'N/A'
      tr
        th № de Factura
        td= item.invoice_number || 'N/A'
      tr
        th Fecha de Emisión
        td= item.issue_date || 'N/A'
      tr 
        th Fecha de Vencimiento
        td= item.due_date || 'N/A'   
      tr
        th Cliente
        td= (item.estimate_id.project_id && item.estimate_id.project_id.client_id) ? `${item.client_full_name} - Código: ${item.client_code}` : 'N/A'
      tr
        th Proyecto
        td= `${item.project_name} - Código: ${item.project_code}` || 'N/A'
      tr 
        th Estado
        td= statusLabels[item.status] || 'N/A'
      tr
        th Nota
        td= item.notes || 'N/A'

  h3.mt-4 Presupuesto asociado    
  table.table.table-dark
    tbody
      tr 
        th Presupuesto
        td= `${item.estimate_id.title} - Código: ${item.estimate_id.code}` || 'N/A'
      tr 
        th Moneda 
        td= currency_labels[item.estimate_id.currency] || 'N/A'

      tr
        th Descuentos
        td
          if item.estimate_id.discount_percent && item.estimate_id.discount_percent
            ul.list-unstyled.mb-0
              li Porcentaje: #{item.estimate_id.discount_percent}%
              li Valor: $#{item.estimate_id.discount_amount}
              li Total: $#{item.estimate_id.subtotal.toFixed(2)} - $#{item.estimate_id.discount_amount.toFixed(2)} = $#{item.estimate_id.subtotal.toFixed(2) - item.estimate_id.discount_amount.toFixed(2)}
          else
            | N/A
          
        tr
          th Impuestos
          td
            if item.estimate_id.tax_percent && item.estimate_id.tax_amount
              ul.list-unstyled.mb-0
                li Porcentaje: #{item.estimate_id.tax_percent}%
                li Valor: $#{item.estimate_id.tax_amount}
                li Total: $#{item.estimate_id.subtotal.toFixed(2) - item.estimate_id.discount_amount.toFixed(2)} x #{item.tax_percent}% = $#{item.estimate_id.total_amount.toFixed(2)}
            else
              | N/A
      tr 
        th Monto total de presupuesto
        td $#{item.estimate_id.total_amount.toFixed(2)}

  h3.mt-4 Extras   
  if item.extras && item.extras.length > 0
    table.table.table-dark
      tbody
        tr 
          th Moneda 
          td= currency_labels[item.currency] || 'N/A'
        tr
          th Extas Items
          td
            if item.extras && item.extras.length > 0
              ol
                each extra in item.extras
                  li= `Descripción: ${extra.description} - Monto: $${extra.amount}`
            else
              span.text-muted Sin Items
        tr 
          th Subtotal de extras
          td $#{item.extras_total.toFixed(2)}

        tr
          th Descuentos
          td
            if item.discount_percent && item.discount_percent
              ul.list-unstyled.mb-0
                li Porcentaje: #{item.discount_percent}%
                li Valor: $#{item.discount_amount}
                li Total: $#{item.extras_total.toFixed(2)} - $#{item.discount_amount} = $#{item.extras_total.toFixed(2) - item.discount_amount.toFixed(2)}
            else
              | N/A
          
        tr
          th Impuestos
          td
            if item.tax_percent && item.tax_amount
              ul.list-unstyled.mb-0
                li Porcentaje: #{item.tax_percent}%
                li Valor: $#{item.tax_amount}
                li Total: $#{item.extras_total.toFixed(2) - item.discount_amount.toFixed(2)} x #{item.tax_percent}% = $#{item.extras_final_total.toFixed(2)}
            else
              | N/A
        tr 
          th Monto Total de Extras
          td $#{item.extras_final_total.toFixed(2)}

  h3.mt-4 Valores totales de la Factura   
  table.table.table-dark
    tbody
      tr 
        th Monto Total de la Factura
        td $#{item.total_amount.toFixed(2)}
      tr 
        th Monto Pagado
        td $#{item.paid_amount.toFixed(2)}
      tr 
        th Monto Pendiente
        td $#{item.balance_due.toFixed(2)}
      tr
        th Fecha de Creación
        td= item.created_at
      tr
        th Fecha de Modificación
        td= item.updated_at
      

  .mt-3
    a.btn.btn-gray.me-2(href="/invoices", tabindex="2") Volver a la lista
    if hasPermission('edit_invoices')
      a.btn.me-2(
                class=item.status === 'draft' ? 'btn-primary' : 'btn-success',
                style="width: 100px; text-align:center;",
                href=item.status === 'draft' 
                  ? `/invoices/${item.id}/edit`
                  : `/invoices/${item.id}/preview`
              )= item.status === 'draft' ? 'Editar' : 'Imprimir'

      if item.status === 'draft'
        a.btn.btn-success.me-2(href=`/invoices/${item.id}/preview`, tabindex="2") Generar Factura
              
    //- form(action=`/api/users/${item.id}?_method=DELETE`, method="POST", style="display:inline;")
    //-   input(type="hidden", name="_method", value="DELETE")
    //-   button.btn.btn-danger-soft(type="submit") Eliminar
