extends ../layout.pug
//- views/invoice/show.pug
block content
  .d-flex.justify-content-between.align-items-center.mb-4
    h1.mb-4 Presupuesto Código: #{item.code}
    a.btn.btn-gray(href="/estimates", tabindex="1") Volver
 

  table.table.table-dark
    tbody
      tr
        th ID
        td= item.id
      tr
        th Código
        td= item.code
      tr 
        th Tipo de Factura
        td= item.invoice_type || 'N/A'
      tr
        th № de Factura
        td= item.invoice_number || 'N/A'
      tr
        th Fecha de Emisión
        td= item.issue_date || 'N/A'
      tr 
        th Fecha de Vencimiento
        td= item.due_date || 'N/A'   
      tr
        th Cliente
        td= (item.estimate_id.project_id && item.estimate_id.project_id.client_id) ? `${item.client_full_name} - Código: ${item.client_code}` : 'N/A'
      tr
        th Proyecto
        td= item.project_name || 'N/A'
      tr 
        th Subtotal
        td $#{item.subtotal.toFixed(2)}
      tr 
        th Monto Total
        td $#{item.total_amount.toFixed(2)}
      tr 
        th Moneda 
        td= currency_labels[item.currency] || 'N/A'
      tr 
        th Porcentaje de Impuestos 
        td= item.tax_percent ? `${item.tax_percent}%` : 'N/A'
      tr 
        th Impuestos 
        td= item.taxes ? `${item.taxes}%` : 'N/A'
      tr 
        th Porcentaje de Descuento 
        td= item.discount_percent ? `${item.discount_percent}%` : 'N/A'
      tr 
        th Descuento 
        td= item.discount ? `${item.discount}%` : 'N/A'
      tr 
        th Monto Total
        td $#{item.total_amount.toFixed(2)}
      tr 
        th Monto Pagado
        td $#{item.paid_amount.toFixed(2)}
      tr 
        th Monto Pendiente
        td $#{item.balance_due.toFixed(2)}
      tr 
        th Estado
        td= statusLabels[item.status] || 'N/A'
      tr
        th Nota
        td= item.notes || 'N/A'
      tr
        th Fecha de Creación
        td= item.created_at
      tr
        th Fecha de Modificación
        td= item.updated_at
      



  .mt-3
    a.btn.btn-gray.me-2(href="/estimates", tabindex="2") Volver a la lista
    a.btn.btn-primary.me-2(href=`/estimates/${item.id}/edit`, tabindex="3") Editar
    //- form(action=`/api/users/${item.id}?_method=DELETE`, method="POST", style="display:inline;")
    //-   input(type="hidden", name="_method", value="DELETE")
    //-   button.btn.btn-danger-soft(type="submit") Eliminar
