extends ../layout.pug
//- views/client/index.pug
block content
  .d-flex.justify-content-between.align-items-center.mb-4
    h1.mb-0 Lista de Clientes
    a.btn.btn-primary(href="/clients/new") Nuevo Cliente

  table.table.table-hover.table-dark
    thead
      tr
        th №
        th ID
        th Nombre
        th Contacto
        th Email
        th.text-end.pe-5 Acciones
    tbody
      each item, index in items
        tr(data-id=item.id, data-name=`${item.name}`, data-contatct_name=`${item.contact_name}`, data-email=`${item.email}`)
          td= index + 1
          td= item.id
          td= item.name
          td= item.contact_name
          td= item.email
          td.text-end
            a.btn.btn-gray.btn-sm.me-2(href=`/clients/${item.id}`) Ver
            a.btn.btn-gray.btn-sm.me-2(href=`/clients/${item.id}/edit`) Editar
            form(action=`/api/clients/${item.id}?_method=DELETE`, method="POST", style="display:inline;")
              input(type="hidden", name="_method", value="DELETE")
              button.btn.btn-danger-soft.btn-sm.delete-btn(data-id=item.id) Eliminar

  // Modal de confirmación con Bootstrap
  div#confirmModal.modal.fade(tabindex="-1", aria-labelledby="confirmModalLabel", aria-hidden="true")
    div.modal-dialog.modal-dialog-centered
      div.modal-content.bg-dark.text-white
        div.modal-header
          h5#confirmModalLabel.modal-title.text-danger Está a punto de eliminar un cliente
          button.btn-close.btn-close-white(type="button", data-bs-dismiss="modal", aria-label="Close")
        div.modal-body
          p ¿Está seguro de que desea eliminar este cliente?
          p#nameToDelete.font-weight-bold.mt-3
        div.modal-footer
          button#confirmYes.btn.btn-danger Eliminar
          button.btn.btn-secondary(data-bs-dismiss="modal") Cancelar

  script.
      document.addEventListener('DOMContentLoaded', () => {
        const deleteButtons = document.querySelectorAll('.delete-btn');
        const modalElement = document.getElementById('confirmModal');
        const modal = new bootstrap.Modal(modalElement);
        const confirmYes = document.getElementById('confirmYes');
        const nameToDelete = document.getElementById('nameToDelete');
        let idToDelete = null;
        let rowToDelete = null;

        deleteButtons.forEach(button => {
          button.addEventListener('click', (event) => {
            event.preventDefault(); // Prevenir el envío del formulario

            const row = event.target.closest('tr');
            idToDelete = event.target.dataset.id;
            rowToDelete = row;

            // Obtener el nombre y apellido del usuario
            const name = row.dataset.name;

            // Actualizar el contenido del modal
            nameToDelete.textContent = `Nombre: ${name}`;

            // Mostrar el modal
            modal.show();
          });
        });

        confirmYes.addEventListener('click', async () => {
          if (idToDelete) {
            try {
              const response = await fetch(`/api/clients/${idToDelete}`, {
                method: 'DELETE',
              });

              if (response.ok) {
                rowToDelete.remove(); // Eliminar la fila de la tabla
                //alert('Usuario eliminado correctamente.');
              } else {
                alert('Error al eliminar el cliente.');
              }
            } catch (error) {
              console.error('Error:', error);
              alert('Error al eliminar el cliente.');
            }
          }

          // Ocultar el modal
          modal.hide();
        });
      });
