extends ../layout.pug
//- views/role/edit.pug
block content
  .d-flex.justify-content-center
    form.bg-dark.text-white.p-4.rounded.shadow(action=`/roles/${item.id}?_method=PUT`, method="POST", style="width:100%; max-width:1200px; max-height:100vh; overflow-y:auto;")
      .d-flex.justify-content-between.align-items-center.mb-3
        h1.mb-0 Editar Rol
        a.btn.btn-gray(href="/roles", tabindex="5") Volver a la lista

      // Contenedor de 1 columna
      .row.g-3
        .col-md-6
          .mb-3
            label.form-label(for="name") Nombre
            input#name.form-control(type="text", name="name", value=item.name || "", required, tabindex="1")
          .mb-3
            label.form-label(for="description") Descripción
            textarea#description.form-control(name="description", required, tabindex="2")= item.description
          .mb-3
            label.form-label Permisos
            .d-flex.flex-column
              each perm in allPermissions
                .form-check
                  input.form-check-input(
                    type="checkbox",
                    name="permissions",
                    value=perm,
                    checked=(item.permissions && item.permissions.map(p => p.toString()).includes(perm.toString()))
                  )
                  label.form-check-label #{permissionLabels[perm]}




      button.btn.btn-success.mt-3(type="submit", tabindex="3") Actualizar Rol
      a.btn.btn-danger-soft.mt-3.ms-3(href="/roles", tabindex="4") Cancelar
