extends ../layout.pug
//- views/role/show.pug
block content
  .d-flex.justify-content-between.align-items-center.mb-4
    h1.mb-4 Rol: #{ item.name }
    a.btn.btn-gray(href="/roles", tabindex="1") Volver
 


  table.table.table-dark
    tbody
      tr
        th ID
        td= item.id
      tr
        th C贸digo
        td= item.code
      tr
        th Nombre
        td= item.name
      tr
        th Descripci贸n
        td= item.description
      tr
        th Permisos
        td
          if item.permissions && item.permissions.length
            ul
              each perm in item.permissions
                li= permissionLabels[perm] || perm
          else
            | No tiene permisos asignados
      tr
        th Fecha de Creaci贸n
        td= item.created_at
      tr
        th Fecha de Modificaci贸n
        td= item.updated_at

  .mt-3
    a.btn.btn-gray.me-2(href="/roles", tabindex="2") Volver a la lista
    if hasPermission('edit_roles')
      a.btn.btn-primary.me-2(href=`/roles/${item.id}/edit`, tabindex="3") Editar
