extends ../layout.pug
//- views/task/show.pug
block content
  .d-flex.justify-content-between.align-items-center.mb-4
    h1.mb-4 #{item.title} 
    a.btn.btn-gray(href="/tasks", tabindex="1") Volver
 

  table.table.table-dark
    tbody
      tr
        th ID
        td= item.id
      tr
        th Código
        td= item.code
      tr
        th Título
        td= item.title
      tr
        th Proyecto
        td= item.project_id.name
      tr
        th Descripción
        td= item.description
      tr 
        th Prioridad
        td
          span.badge.fs-6(class=`${item.priority === 'baja' ? 'bg-success' : item.priority === 'media' ? 'bg-warning' : 'bg-danger'}`)
            = item.priority === 'baja' ? 'Baja' : item.priority === 'media' ? 'Media' : 'Alta'
      tr
        th Estado
        td= item.status
      tr
        th Asignado
        td= item.assigned_to.first_name + " " + item.assigned_to.last_name
      tr
        th Estimación (horas)
        td= item.estimated_hours + ' hrs'
      tr
        th Fecha de Vencimiento
        td= item.due_date ? new Date(item.due_date).toLocaleDateString('es-AR') : 'N/A'
      tr
        th Actividades Registradas
        td
          if item.time_entries_ids && item.time_entries_ids.length > 0
            ul
              each time_entries_id in item.time_entries_ids
                li= `${time_entries_id.code} - Responsable: ${time_entries_id.user_id.full_name}`
          else
            span.text-muted Sin registros
      tr
        th Fecha de Creación
        td= item.created_at
      tr
        th Fecha de Modificación
        td= item.updated_at
      

  .mt-3
    a.btn.btn-gray.me-2(href="/tasks", tabindex="2") Volver a la lista
    a.btn.btn-primary.me-2(href=`/tasks/${item.id}/edit`, tabindex="3") Editar
    //- form(action=`/api/users/${item.id}?_method=DELETE`, method="POST", style="display:inline;")
    //-   input(type="hidden", name="_method", value="DELETE")
    //-   button.btn.btn-danger-soft(type="submit") Eliminar
