extends ../layout.pug
//- views/area/show.pug
block content
  h1.mb-4 Cargo: #{ item.name }

  table.table.table-dark
    tbody
      tr
        th ID
        td= item.id
      tr
        th Código
        td= item.code
      tr
        th Nombre
        td= item.name
      tr
        th Descripción
        td= item.description

  .mt-3
    a.btn.btn-gray.me-2(href="/positions") Volver a la lista
    a.btn.btn-primary.me-2(href=`/positions/${item.id}/edit`) Editar
    //- form(action=`/api/users/${item.id}?_method=DELETE`, method="POST", style="display:inline;")
    //-   input(type="hidden", name="_method", value="DELETE")
    //-   button.btn.btn-danger-soft(type="submit") Eliminar
