extends ../layout.pug
//- views/project/show.pug
block content
  .d-flex.justify-content-between.align-items-center.mb-4
    h1.mb-4 #{ `${item.name} - ${item.client_id.name}` }
    a.btn.btn-gray(href="/projects", tabindex="1") Volver
 

  table.table
    tbody
      tr
        th ID
        td= item.id
      tr
        th Código
        td= item.code
      tr
        th Nombre del Proyecto
        td= item.name
      tr
        th Cliente
        td= item.client_id.name
      tr
        th Descripción
        td= item.description
      tr
        th Lider de proyecto
        td=  item.project_manager.full_name
      tr
        th Equipos de Trabajo
        td
          if item.teams && item.teams.length > 0
            ul
              each team in item.teams
                li= `${team.team_id.name} - Team Leader: ${team.team_id.team_leader.full_name}`
          else
            span.text-muted Sin miembros
      tr
        th Estado
        td= statusLabels[item.status]
      tr
        th Presupuesto
        td= `$ ${item.budget}`
      tr
        th Facturación
        td= billingTypeLabels[item.billing_type]
      tr
        th Fecha de inicio
        td= item.start_date
      tr
        th Fecha de fin
        td= item.end_date
      tr
        th Fecha de Creación
        td= item.created_at
      tr
        th Fecha de Modificación
        td= item.updated_at
    
  .mt-3
    a.btn.btn-gray.me-2(href="/projects", tabindex="2") Volver a la lista
    if hasPermission('edit_positions')
      a.btn.btn-primary.me-2(href=`/projects/${item.id}/edit`, tabindex="3") Editar
    //- form(action=`/api/users/${item.id}?_method=DELETE`, method="POST", style="display:inline;")
    //-   input(type="hidden", name="_method", value="DELETE")
    //-   button.btn.btn-danger-soft(type="submit") Eliminar
