extends ../layout.pug

block content
  .d-flex.justify-content-between.align-items-center.mb-4
    h1.mb-4 Usuario del sistema: #{ `${item.first_name} ${item.last_name}` }
    a.btn.btn-gray(href="/users", tabindex="1") Volver
 

  table.table.table-dark
    tbody
      tr
        th ID
        td= item.id
      tr
        th Código
        td= item.code
      tr
        th Email
        td= item.email
      tr
        th Rol
        td= item.role_id.name
      tr 
        th Nombre de usuario
        td= item.username
      tr 
        th Contraseña
        td= item.password_hash      
      tr
        th Ultimo inicio de sesión
        td= item.last_login ? new Date(item.last_login).toLocaleString('es-AR') : 'N/A'
      tr 
        th Estado
        td= item.is_active ? 'Activo' : 'Inactivo'
      tr
        th Fecha de creación
        td= item.created_at
      tr
        th Última actualización
        td= item.updated_at

  .mt-3
    a.btn.btn-gray.me-2(href="/users", tabindex="2") Volver a la lista
    a.btn.btn-primary.me-2(href=`/users/${item.id}/edit`, tabindex="3") Editar
