extends ../layout.pug

block content
  .d-flex.justify-content-between.align-items-center.mb-4
    h1.mb-4 Usuario del sistema: #{ `${item.first_name} ${item.last_name}` }
    a.btn.btn-gray(href="/users", tabindex="1") Volver
 

  table.table.table-dark
    tbody
      tr
        th ID
        td= item.id
      tr
        th Código
        td= item.code
      tr
        th Nombre
        td= item.first_name
      tr
        th Apellido
        td= item.last_name
      tr 
        th DNI
        td= item.dni
      tr
        th Nacionalidad
        td= item.nationality
      tr
        th Fecha de nacimiento
        td= item.birth_date ? new Date(item.birth_date).toLocaleDateString('es-AR') : 'N/A'
      tr
        th Género
        td= item.gender
      tr
        th Email
        td= item.email
      tr
        th Teléfono
        td= item.phone
      tr
        th Dirección
        td
          if item.address
            | #{item.address.street} #{item.address.number}, #{item.address.city}, #{item.address.province}, #{item.address.country}, CP #{item.address.postal_code}
          else
            | N/A
      tr
        th Área
        td= item.area_id.name_area
      tr
        th Rol
        td= item.role_id.name
      tr
        th Posición
        td= item.position_id ? item.position_id.name : 'N/A'
      tr
        th Tipo de contrato
        td= item.employment_type
      tr
        th Fecha de ingreso
        td= item.hire_date ? new Date(item.hire_date).toLocaleDateString('es-AR') : 'N/A'
      tr
        th Salario mensual
        td= item.monthly_salary
      tr
        th Supervisor
        td= item.supervisor_id ? `${item.supervisor_id.first_name} ${item.supervisor_id.last_name}` : 'N/A'
      tr 
        th Nombre de usuario
        td= item.username
      tr 
        th Contraseña
        td= item.password_hash      
      tr
        th Foto de perfil
        td
          if item.profile_image
            img(src=item.profile_image, alt="Foto de perfil", style="max-width:100px; border-radius:5px;")
          else
            | N/A
      tr
        th Ultimo inicio de sesión
        td= item.last_login ? new Date(item.last_login).toLocaleString('es-AR') : 'N/A'
      tr
        th Estado
        td= item.is_active ? 'Activo' : 'Inactivo'
      tr
        th Fecha de creación
        td= item.created_at
      tr
        th Última actualización
        td= item.updated_at

  .mt-3
    a.btn.btn-gray.me-2(href="/users", tabindex="2") Volver a la lista
    a.btn.btn-primary.me-2(href=`/users/${item.id}/edit`, tabindex="3") Editar
