extends ../layout.pug
//- views/contacts/index.pug
block content
  .d-flex.justify-content-between.align-items-center.mb-4
    h1.mb-0 Lista de Contactos 
    a.btn.btn-primary(href="/contacts/new") Nuevo Contacto

  //- Incluir barra de búsqueda, modal y JS común
  include ../partials/common-table-scripts.pug

  table.table.table-hover.table-dark.table-index
    thead
      tr
        th №
        th Código
        th Nombre
        th Rol
        th Cliente
        th.text-end.pe-5 Acciones
    tbody
      each item, index in items
        tr(data-id=item.id, data-code=item.code, data-textmodal1=`Nombre: ${item.first_name} ${item.last_name}`)
          td= index + 1
          td= item.code
          td= item.full_name
          td= item.role
          td= item.client_id.name
          td.text-end
            a.btn.btn-gray.btn-sm.me-2(href=`/contacts/${item.id}`) Ver
            a.btn.btn-gray.btn-sm.me-2(href=`/contacts/${item.id}/edit`) Editar
            form(action=`/api/contacts/${item.id}?_method=DELETE`, method="POST", style="display:inline;")
              input(type="hidden", name="_method", value="DELETE")
              button.btn.btn-danger-soft.btn-sm.delete-btn(data-id=item.id) Eliminar