extends ../layout.pug
//- views/contacts/show.pug
block content
  h1.mb-4 Contacto: #{item.full_name} 

  table.table.table-dark
    tbody
      tr
        th ID
        td= item.id
      tr 
        th Código
        td= item.code
      tr 
        th Cliente 
        td= item.client_id.name
      tr
        th Nombre
        td= item.first_name
      tr 
        th Apellido
        td= item.last_name 
      tr
        th Email
        td= item.email
      tr
        th Teléfono fijo
        td= item.phone
      tr 
        th Teléfono móvil
        td= item.mobile
      tr 
        th Rol 
        td= item.role
      tr 
        th Departamento 
        td= item.department
      tr
        th Método de contacto preferido
        td= item.preffer_contact_method 
      tr 
        th Idioma 
        td= item.language
      tr 
        th Tipo de contacto
        td= item.is_primary ? 'Primario' : 'Secundario'
      tr 
        th Notas
        td= item.notes
      tr
        th Estado
        td= item.is_active ? 'Activo' : 'Inactivo'
      tr
        th Fecha de creación
        td= item.created_at
      tr
        th Última actualización
        td= item.updated_at

  .mt-3
    a.btn.btn-gray.me-2(href="/contacts") Volver a la lista
    a.btn.btn-primary.me-2(href=`/contacts/${item.id}/edit`) Editar
    //- form(action=`/api/users/${item.id}?_method=DELETE`, method="POST", style="display:inline;")
    //-   input(type="hidden", name="_method", value="DELETE")
    //-   button.btn.btn-danger-soft(type="submit") Eliminar
